thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 1.5em;
}

td {
  word-wrap: break-word;
}

.alignCenter {
  text-align: center;
}

.table>tbody>tr>td {
  border: 0
}

.table-curved {
  border-collapse: separate;
  border-color: white;
  border-spacing: 0;
  margin-left: 10px;
}
.table-curved th {
  padding: 3px 10px;
  background-color: lightgrey
}
.table-curved td {
  position: relative;
  padding: 6px 10px;
}

.table-curved td:first-child {
  border-radius: 30px 0 0 30px;
}

.table-curved td:last-child {
  border-radius: 0 30px 30px 0;
}
.table-curved tr:hover td {
  background-color: #3979b9;
  color: white;
}

.table-curved th:hover span {
  background-color: #3979b9;
  color: white;
}

img {
  border-radius: 50%;
}

tr:nth-child(even) {
  background-color: #85b8eb;
  border-radius: 30px 30px 30px 30px;
}